html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
body {
    font-weight: 400;
    color: #242424;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}
a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}
a,
button {
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
a {
    color: #2c3e50;
}


/*Nav area*/

.nav_area{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999999999999999999999;
    padding: 15px 0;
    border-bottom: 1px solid;
}

.logo a {
    font-size: 35px;
    color: #ff2d55;
}

.mainmenu ul {

}

.mainmenu li {
    display: inline-block;
}
.mainmenu li a {
    display: block;
    padding: 15px 5px;
    color: #fff;
}

.mainmenu li a:hover,.mainmenu li a.active {
    color: #ff2d55;
}
.callout.sbh_btn {
    padding: 5px 15px;
}

/*Hero area*/

.hero_area{
	background-image: url(../img/hero.jpg);
}

.hero_area {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-color: #ddd;
    background-position: center;
    color: #fff;
    z-index: 9;
}

.hero_area:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0,0,0,0.9);
    z-index: 0;
}

.hero_txt h1 {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 1px;
}

.hero_txt h1 span {
    color: #ff2d55;
    font-weight: 600;
    font-size: 60px;
    display: block;
}

.hero_txt span.date {display: inline-block;margin: 10px 0 20px;}

.sbh_btn {
    display: inline-block;
    background: #ff2d55;
    color: #fff;
    padding: 15px 30px;
    border-radius: 60px;
    border: 1px solid transparent;
    text-transform: uppercase;
}

.sbh_btn:hover {
    background: transparent;
    border-color: #ff2d55;
    color: #fff;
}